html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #FFF5EE;
  line-height: normal;
  font-family: "Times New Roman", sans-serif;
  background-image: url(img/background_none.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.page-header {
  position: relative;
  width: 100%;
  height: 60px;
  left: 0%;
  top: 0%;
  display:block;
  background-image: url(img/back_pattern_@2X.png);
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation-name: PageHeaderAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes PageHeaderAppear {
  from {top: -120px;}
  to {top: 0px;}
}

.header-content {
  margin: 0 auto;
  height: 50px;
  width: 500px;
  text-align: center;
}

.header-content img {
  margin-top: 5px;
}

.textspace-greeting {
  left: 50%;
  width: 600px;
  margin: 0 auto;
  justify-content: center;
  cursor: default;
  animation: TextAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes TextAppear {
  from {opacity:0;}
  to {opacity:100;}
}

.text-greet {
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
text-align: center;
color: #000000;
margin-top: 45px;
margin-bottom: 5px;
}

.text-warning {
font-size: 20px;
line-height: 20px;
text-align: center;
margin-top: 10px;
color: #888888;
}

/* Category Choice */
.category-wrap {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  padding-top: 7%;
  display: flex;
  justify-content: center;
  animation: CategoryAppear;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes CategoryAppear {
  from {opacity:0;}
  to {opacity:100;}
}

.category-wrap figure {
  position: relative;
  height: 300px;
  width: 300px;
  text-align: center;
}

.category-wrap figure a{
  cursor: default;
  text-decoration: none;
  text-align: center;
}

.category-wrap figure a {
  top: 0px;
}

.category-wrap figure a img {
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: curvy 7s ease-in-out alternate infinite;
  animation-play-state: running;
  overflow: hidden;
}

@keyframes curvy {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

.category-wrap figure a img:hover {
  transform:scale(1.1);
  animation-play-state: running;
}

.category-wrap figcaption {
  position: relative;
  top: 20px;
  font-size: 28px;
  display: block;
}

/* Footer Settings */
.page-footer {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  bottom: 0px;
  left: 0px;
  display: block;
  background-image: url(img/back_pattern_@2X.png);
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  box-sizing: border-box;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  animation-name: PageFooterAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes PageFooterAppear {
  from {bottom: -120px;}
  to {bottom: 0px;}
}

.location {
  position: absolute;
  text-align: right;
  padding: 10px;
  margin: 0 auto;
  line-height: 60px;
  height: 30px;
  right: 20px;
  cursor: pointer;
  transition: transform .5s;
}

.location p {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  box-sizing: border-box;

}

.location:hover {
  transform: scale(1.1);
}

.social-container {
  height: 60px;
  width: 15%;
  text-align: center;
}

.page-footer .social-container a {
  position: relative;
  line-height: 60px;
  top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.page-footer .social-container a img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: transform .5s, shadow .5s;
}

.page-footer .social-container a img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Footer End */

/* The Modal (background) */
.modal {
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  animation: BckAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes BckAppear {
  from {opacity:0;}
  to {opacity:100;}
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: ModalAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes ModalAppear {
  from {opacity:0;}
  to {opacity:100;}
}

.modal-content p {
  font-size: 18px;
}

.modal-content iframe {
  width: 100%;
  margin: 15px auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: transform .3s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(180deg);
}
